<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/detail.css" />
    <title>상세페이지</title>
  </head>
  <body>
    <!-- 헤더 삽입 -->
    <header></header>
    <!-- grid row1 -->
    <div class="gridRow1 container">
      <div id="userRate1" class="userRates">4.5 / 5.0</div>
      <div class="reviewBox1 reviewBoxes">
        <div id="review1" class="reviews">짱구: 재밌어요</div>
      </div>
      <div id="userRate2" class="userRates">2.7 / 5.0</div>
      <div class="reviewBox2 reviewBoxes">
        <div id="review2" class="reviews">짱아: 재미없어요</div>
      </div>
      <div id="userRate3" class="userRates">0.0 / 5.0</div>
      <div class="reviewBox3 reviewBoxes">
        <div id="review3" class="reviews">수지: 안봤어요</div>
      </div>
      <div class="myReview">
        <input type="text" class="writeReview" id="userReview" placeholder="리뷰를 작성해보세요" />
        <div id="myRate" class="myRate">4.5/5.0</div>
        <input type="submit" class="submitReview" />
      </div>
    </div>

    <!-- grid row2 -->
    <div class="gridRow2 container">
      <div class="poster"><img />포스터</div>
      <div class="rates">
        <div id="boxOfficeRate">평점:</div>
        <div id="viewers">관객수:</div>
        <div id="madeYear">개봉일:</div>
      </div>
      <div class="directors">
        <div id="director">감독:</div>
      </div>
      <div class="actors">
        <div id="actor">배우:</div>
      </div>
      <div class="summaries">
        <div id="summary">영화 줄거리</div>
      </div>
    </div>

    <!-- grid row3 -->

    <div class="gridRow3 container">
      <input type="button" value="이전" />
      <div class="alikeMovies">
        <div id="alikeMovieLeft" class="alikeMovie">이 영화와 비슷한 영화 포스터</div>
        <div id="alikeMovieMain" class="alikeMovie">이 영화와 비슷한 영화 포스터</div>
        <div id="alikeMovieRight" class="alikeMovie">이 영화와 비슷한 영화 포스터</div>
      </div>
      <input type="button" value="다음" />
    </div>

    <!-- 푸터 삽입 -->
  </body>
</html>