<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/detail.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>상세페이지</title>
  </head>
  <body>
    <!-- 헤더 삽입 -->
    <header></header>
    <!-- grid row1 -->
    <div class="gridRow1 container">
      <!-- 리뷰 콘테이너 -->
      <div class="reviewContainer">
        <div id="userRate1" class="userRates">4.5</div>
        /5.0
      </div>
      <div class="reviewBox1 reviewBoxes">
        <div id="review1" class="reviews">짱구: 재밌어요</div>
      </div>
      <div class="reviewContainer">
        <div id="userRate2" class="userRates">2.7</div>
        /5.0
      </div>
      <div class="reviewBox2 reviewBoxes">
        <div id="review2" class="reviews">짱아: 재미없어요</div>
      </div>
      <div class="reviewContainer">
        <div id="userRate3" class="userRates">0.0</div>
        /5.0
      </div>
      <div class="reviewBox3 reviewBoxes">
        <div id="review3" class="reviews">수지: 안봤어요</div>
      </div>
      <!-- 리뷰 페이지 네이션 연습 -->

      <!-- 리뷰 작성 폼 -->
      <form class="myReview">
        <input type="text" class="writeReview" id="userReview" placeholder="리뷰를 작성해보세요" />
        <input type="submit" class="submitReview" />
      </form>
      <form class="mb-3" name="myform" id="myform" method="post">
        <!-- 별점 남기기 -->
        <fieldset>
          <span class="text-bold">별점을 선택해주세요</span>
          <input type="radio" name="reviewStar" value="5" id="rate1" /><label
            for="rate1"
            onclick="userRate1()"
            >★</label
          >
          <input type="radio" name="reviewStar" value="4" id="rate2" /><label
            for="rate2"
            onclick="userRate2()"
            >★</label
          >
          <input type="radio" name="reviewStar" value="3" id="rate3" /><label
            for="rate3"
            onclick="userRate3()"
            >★</label
          >
          <input type="radio" name="reviewStar" value="2" id="rate4" /><label
            for="rate4"
            onclick="userRate4()"
            >★</label
          >
          <input type="radio" name="reviewStar" value="1" id="rate5" /><label
            for="rate5"
            onclick="userRate5()"
            >★</label
          >
        </fieldset>
      </form>
    </div>

    <!-- grid row2 -->
    <div class="gridRow2 container">
      <!-- 포스터 api 받아오기 -->
      <div class="poster"><img />포스터</div>
      <div class="rates">
        <!-- 평점 api 받아오기 -->
        <div id="boxOfficeRate">평점:</div>
        <!-- 관객수 api 받아오기 -->
        <div id="viewers">관객수:</div>
        <!-- 개봉일 api 받아오기 -->
        <div id="madeYear">개봉일:</div>
      </div>
      <div class="directors">
        <!-- 감독 api 받아오기 -->
        <div id="director">감독:</div>
      </div>
      <div class="actors">
        <!-- 배우 api 받아오기 -->
        <div id="actor">배우:</div>
      </div>
      <div class="summaries">
        <!-- 줄거리 api 받아오기 -->
        <div id="summary">영화 줄거리</div>
      </div>
    </div>

    <!-- grid row3 -->

    <div class="gridRow3 container">
      <input type="button" value="이전" />
      <div class="alikeMovies">
        <div id="alikeMovieLeft" class="alikeMovie">이 영화와 비슷한 영화 포스터</div>
        <div id="alikeMovieMain" class="alikeMovie">이 영화와 비슷한 영화 포스터</div>
        <div id="alikeMovieRight" class="alikeMovie">이 영화와 비슷한 영화 포스터</div>
      </div>
      <input type="button" value="다음" />
    </div>

    <footer>
      <div class="footer">
        <strong>주식회사</strong> 무비캐스터 <strong>대표</strong> 4FLEX 서울특별시 용산구 청파로
        109(나진전자월드상가) 3층 <br />
        <strong>사업자 등록 번호</strong> 595-95-0099 <br />
        © 2023 by MovieCaster, Inc. All rights reserved. <br />
      </div>
    </footer>
    <script>
      function moviePoster() {}

      function movieDescription() {}

      function movieDirector() {}

      function movieActor() {}

      function movieRate() {}

      function movieDate() {}
    </script>
  </body>
</html>
