<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/findpw.css" />
    <title>비밀번호 찾기</title>
  </head>
  <body>
    <div class="containerMain">
      <h2>비밀번호 찾기</h2>
      <div class="containerSub">
        <div class="idBox innerBox">
          <div class="idBoxL boxL">
            아이디
          </div>
          <div class="idBoxR boxR">
            <input type="text" required />
          </div>
        </div>
        <div class="emailBox innerBox">
          <div class="emailBoxL boxL">
            이메일
          </div>
          <div class="emailBoxR boxR">
            <input type="email" required />
          </div>
        </div>
      </div>
      <br />
      <input type="button" value="비밀번호 찾기" class="buttonFindPw" onclick="" />
      <div class="findId">아이디 찾기</div>
      <div class="logInBox">
        <input type="button" value="로그인" class="buttonLogin Btn" onclick="" />
        <input type="button" value="회원가입" class="buttonSubmit Btn" onclick="" />
      </div>
    </div>
    <script></script>
  </body>
</html>