<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/findid.css" />
    <title>아이디 찾기</title>
  </head>
  <body>
    <div class="containerMain">
      <h2>아이디 찾기</h2>
      <div class="containerSub">
        <div class="emailBox innerBox">
          <div class="emailBoxL boxL">
            이메일
          </div>
          <div class="emailBoxR boxR">
            <input type="email" required />
          </div>
        </div>
      </div>
      <br />
      <input type="button" value="아이디 찾기" class="buttonFindId" onclick="" />
      <div class="findPw">비밀번호 찾기</div>
      <div class="logInBox">
        <input type="button" value="로그인" class="buttonLogin Btn" onclick="" />
        <input type="button" value="회원가입" class="buttonSubmit Btn" onclick="" />
      </div>
    </div>
    <script></script>
  </body>
</html>