<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        .divider {
            border-top: 2px solid gray
        }
    </style>
</head>
<body>
    <footer>
        <div class="divider"></div>
        <p><b>주식회사</b> 무비캐스터 <b>대표</b> 4FLEX</p>
        <p>서울특별시 용산구 청파로 109(나진전자월드상가) 3층</p>
        <p><b>사업자 등록 번호</b> 595-95-0099</p>
        <p>© 2023 by MovieCaster, Inc. All rights reserved.</p>
    </footer>
</body>
</html>