<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <style>
        .box-office-text {
            writing-mode: vertical-lr
        }
    </style>
</head>
<body>
    <header>
        <section class="logo-section">
            <div>Logo pic</div>
            <a href=""><span>search icon</span></a>
            <a href=""><span>user icon</span></a>
        </section>
        <section class="box-office-section">
            <span class="box-office-text">Box Office</span>
            <ul class="box-office-slider">
                <li><img href="" src="" alt="rank1 : box office"></li>
                <li><img href="" src="" alt="rank2 : box office"></li>
                <li><img href="" src="" alt="rank3 : box office"></li>
                <li><img href="" src="" alt="rank4 : box office"></li>
                <li><img href="" src="" alt="rank5 : box office"></li>
                <li><img href="" src="" alt="rank6 : box office"></li>
                <li><img href="" src="" alt="rank7 : box office"></li>
                <li><img href="" src="" alt="rank8 : box office"></li>
                <li><img href="" src="" alt="rank9 : box office"></li>
                <li><img href="" src="" alt="rank10 : box office"></li>
                <li><img href="" src="" alt="rank11 : box office"></li>
                <li><img href="" src="" alt="rank12 : box office"></li>
            </ul>
        </section>
    </header>
</body>
</html>