<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCaster - Main</title>
</head>
<body>
    <!-- TODO: header section -->

    <section class="main-best-movies">
        <div>
            <!-- sun icon -->
            <h3>해가 쨍쨍! 평점 높은 영화</h3>
        </div>
        <div class="movie-with-comment-list">
            <div class="poster-with-comment">
                <ul>
                    <li><a href="">
                        <div class="moive-poster"><img src="" alt="" /></div>
                        <div class="comments-body">
                            <ul>
                                <li class="nickname-sm"></li>
                                <li class="movie-title-sm"></li>
                                <li class="comment-sm"></li>
                            </ul>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="poster-with-comment">
                <ul>
                    <li><a href="">
                        <div class="moive-poster"><img src="" alt="" /></div>
                        <div class="comments-body">
                            <ul>
                                <li class="nickname-sm"></li>
                                <li class="movie-title-sm"></li>
                                <li class="comment-sm"></li>
                            </ul>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="poster-with-comment">
                <ul>
                    <li><a href="">
                        <div class="moive-poster"><img src="" alt="" /></div>
                        <div class="comments-body">
                            <ul>
                                <li class="nickname-sm"></li>
                                <li class="movie-title-sm"></li>
                                <li class="comment-sm"></li>
                            </ul>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="poster-with-comment">
                <ul>
                    <li><a href="">
                        <div class="moive-poster"><img src="" alt="" /></div>
                        <div class="comments-body">
                            <ul>
                                <li class="nickname-sm"></li>
                                <li class="movie-title-sm"></li>
                                <li class="comment-sm"></li>
                            </ul>
                        </div>
                    </a></li>
                </ul>
            </div>
            <div class="poster-with-comment">
                <ul>
                    <li><a href="">
                        <div class="moive-poster"><img src="" alt="" /></div>
                        <div class="comments-body">
                            <ul>
                                <li class="nickname-sm"></li>
                                <li class="movie-title-sm"></li>
                                <li class="comment-sm"></li>
                            </ul>
                        </div>
                    </a></li>
                </ul>
            </div>
            </div>
            <div class="arrow-box"><!-- left arrow icon --></div>
            <div class="arrow-box"><!-- right arrow icon --></div>
        </div>
    </section>

    <!-- TODO: 호불호 영화 리스트 -->
    <section></section>
</body>
</html>