<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCaster - Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <div class="search-container">
        <section class="search__section">
            <div class="search__body">
                <input type="text" name="search" class="search-body__input" id="search" />
                <i class="fa-solid fa-magnifying-glass regular-icon search-icon" onclick="searchResult()"></i>
            </div>
                <a href="/"><i class="fa-solid fa-xmark regular-icon close-icon"></i></a>
            <div class="search__tag-group">
                <button type="button" class="search__tag-btn" onclick="tag2000()"># 2000년대 대표 영화</button>
                <button type="button" class="search__tag-btn" onclick="tagComedy()"># 배꼽 빠지게 웃긴 </button>
                <button type="button" class="search__tag-btn" onclick="tagHorror()"># 카페인보다 강력한 </button>
                <button type="button" class="search__tag-btn" onclick="tagDrama()"># 나만 아는 영화 </button>
                <button type="button" class="search__tag-btn" onclick="tagThriller()"># 몰입 100% 스릴러!</button>
            </div>
        </section>
    
        <section class="search-result__section hidden">
            <h2 class="search-result__count"></h2>

            <div class="search-result__list">
                <div class="search-result"></div>
            <% for (let i=0; i<10; i++) { %>
                <div class="search-result__body">
                    <div class="search-result__info">
                        <div class="search-result__poster">
                            <img src="" alt="" />
                        </div>
                        <h3 class="search-result__title"></h3>
                    </div>
                </div>
            <% } %>
        </section>
    </div>
    <footer>
        <div class="footer">
            <strong>주식회사</strong> 무비캐스터 <strong>대표</strong> 4FLEX 
            서울특별시 용산구 청파로 109(나진전자월드상가) 3층 <br />
            <strong>사업자 등록 번호</strong> 595-95-0099 <br/>
            © 2023 by MovieCaster, Inc. All rights reserved. <br/>
        </div>
    </footer>

    <script>
        const posterUrl = `https://image.tmdb.org/t/p/w200`;
        
        const searchInput = document.querySelector('.search-body__input').value;
        const searchCount = document.querySelector('.search-result__count');
        const resultTitle = document.querySelector('.search-result__title');
        const resultPoster = document.querySelector('.search-result__poster img');

        // // 초기화
        // searchCount.innerHTML = '';
        // title.innerHTML = '';
        // for (const poster of resultPoster) {
        //     poster.src = '';
        // }

        function searchResult() {
            document.querySelector('.search-result__section').classList.remove('hidden');
            
            axios({
                method: 'get',
                url: '/search/result',
                params: {input: searchInput} // 객체 형태로 보내야 접근 용이
            }).then((result) => {
                console.log('result', result.data)
                if (result.data.movie && result.data.movie.length > 0) {
                    for(let i=0; i<result.data.movie.length; i++) {
                        // 결과 개수
                        const movie = result.data.movie[i]
                        searchCount.innerHTML = `검색 결과 <span "color: var(--blue-point-color);">${movie.count}</span>개`

                        // 결과 title
                        const title = document.querySelector('.search-result__title');
                        title.textContent = `${movie.title}`

                        // 결과 img(poster)
                        const url = movie.poster
                        resultPoster.src = `${posterUrl}${url}`
                    }
                } else {
                    const failResult = document.querySelector('.search-result');
                    failResult.textContent = `검색 결과가 없습니다.`
                }
            })
        }

        function tag2000() {
            document.querySelector('.search-result__section').classList.remove('hidden');

            axios({
                method: 'get',
                url: '/search/tag2000',
            }).then(result => {
                const res = result.data;
                
                if (res.data) {
                    for (let i=0; i<res.data.length; i++) {
                        // 결과 title
                        const title = document.querySelectorAll('.search-result__title');
                        title[i].textContent = res.data[i].title

                        // 결과 img(poster)
                        const url = res.data[i].poster_path
                        const resultPoster = document.querySelectorAll('.search-result__poster img');
                        resultPoster[i].src = `${posterUrl}${url}`
                    }
                }
            })
        }

        function tagComedy() {
            document.querySelector('.search-result__section').classList.remove('hidden');

            axios({
                method: 'get',
                url: '/search/tagcomedy',
            }).then(result => {
                const res = result.data;

                if (res.data) {
                    for (let i=0; i<res.data.length; i++) {
                        // 결과 title
                        const title = document.querySelectorAll('.search-result__title');
                        title[i].textContent = res.data[i].title

                        // 결과 img(poster)
                        const url = res.data[i].poster_path
                        const resultPoster = document.querySelectorAll('.search-result__poster img');
                        resultPoster[i].src = `${posterUrl}${url}`
                    }
                }
            })
        }

        function tagHorror() {
            document.querySelector('.search-result__section').classList.remove('hidden');

            axios({
                method: 'get',
                url: '/search/taghorror',
            }).then(result => {
                const res = result.data;

                if (res.data) {
                    for (let i=0; i<res.data.length; i++) {
                        // 결과 title
                        const title = document.querySelectorAll('.search-result__title');
                        title[i].textContent = res.data[i].title

                        // 결과 img(poster)
                        const url = res.data[i].poster_path
                        const resultPoster = document.querySelectorAll('.search-result__poster img');
                        resultPoster[i].src = `${posterUrl}${url}`
                    }
                }
            })
        }

        function tagDrama() {
            document.querySelector('.search-result__section').classList.remove('hidden');

            axios({
                method: 'get',
                url: '/search/tagdrama',
            }).then(result => {
                const res = result.data;

                if (res.data) {
                    for (let i=0; i<res.data.length; i++) {
                        // 결과 title
                        const title = document.querySelectorAll('.search-result__title');
                        title[i].textContent = res.data[i].title

                        // 결과 img(poster)
                        const url = res.data[i].poster_path
                        const resultPoster = document.querySelectorAll('.search-result__poster img');
                        resultPoster[i].src = `${posterUrl}${url}`
                    }
                }
            })
        }

        function tagThriller() {
            document.querySelector('.search-result__section').classList.remove('hidden');

            axios({
                method: 'get',
                url: '/search/tagthriller',
            }).then(result => {
                const res = result.data;

                if (res.data) {
                    for (let i=0; i<res.data.length; i++) {
                        // 결과 title
                        const title = document.querySelectorAll('.search-result__title');
                        title[i].textContent = res.data[i].title

                        // 결과 img(poster)
                        const url = res.data[i].poster_path
                        const resultPoster = document.querySelectorAll('.search-result__poster img');
                        resultPoster[i].src = `${posterUrl}${url}`
                    }
                }
            })
        }
    </script>
</body>
</html>