<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCaster - Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <div class="search-container">
        <section class="search__section">
            <div class="search__body">
                <input type="text" name="search" class="search-body__input" id="search" />
                <i class="fa-solid fa-magnifying-glass regular-icon search-icon" onclick="searchResult()"></i>
            </div>
                <a href="/"><i class="fa-solid fa-xmark regular-icon close-icon"></i></a>
            <div class="search__tag-group">
                <button type="button" class="search__tag-btn"># 태그 내용입닌다</button>
                <button type="button" class="search__tag-btn"># 태그 내용입닌다</button>
                <button type="button" class="search__tag-btn"># 태그 내용입닌다</button>
                <button type="button" class="search__tag-btn"># 태그 내용입닌다</button>
                <button type="button" class="search__tag-btn"># 태그 내용입닌다</button>
            </div>
        </section>
    
        <section class="search-result__section hidden">
            <h2 class="search-result__count"></h2>

            <div class="search-result__list">
            <% for (let i=0; i<5; i++) { %>
                <div class="search-result__body">
                    <div class="search-result__info">
                        <div class="search-result__poster">
                            <img src="" alt="" />
                        </div>
                        <h3 class="search-result__title"></h3>
                    </div>
                </div>
            <% } %>
        </section>
    </div>
    <footer>
        <div class="footer">
            <strong>주식회사</strong> 무비캐스터 <strong>대표</strong> 4FLEX 
            서울특별시 용산구 청파로 109(나진전자월드상가) 3층 <br />
            <strong>사업자 등록 번호</strong> 595-95-0099 <br/>
            © 2023 by MovieCaster, Inc. All rights reserved. <br/>
        </div>
    </footer>

    <script>
        
        function searchResult() {
            document.querySelector('.search-result__section').classList.remove('hidden');
            
            const posterUrl = `https://image.tmdb.org/t/p/w200`
            const searchInput = document.querySelector('.search-body__input').value;

            axios({
                method: 'get',
                url: '/search/result',
                params: {input: searchInput} // 객체 형태로 보내야 접근 용이
            }).then((result) => {
                if (result.data.movie && result.data.movie.length > 0) {
                    for(let i=0; i<result.data.movie.length; i++) {

                        const movie = result.data.movie[i]
                        const searchCount = document.querySelector('.search-result__count');
                        searchCount.innerHTML = `검색 결과 <span "color: var(--blue-point-color);">${movie.count}</span>개`
                        const title = document.querySelector('.search-result__title');
                        title.textContent = `${movie.title}`
                        const url = movie.poster
                        const resultPoster = document.querySelector('.search-result__poster img');
                        resultPoster.src = `${posterUrl}${url}`
                    }
                } else {
                    const title = document.querySelector('.search-result__title');
                    title.textContent = `검색 결과가 없습니다.`
                }
            })
        }
    </script>
</body>
</html>