<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieCaster - Search</title>
</head>
<body>
    <section class="search-body">
        <div class="search-input">
            <input type="text" name="search" id="search" />
            <div class="search-btn"><!-- search icon --></div>
        </div>
        <div>
            <button type="button" class="search-tag-btn"> tag 1</button>
        </div>
    </section>

    <section class="search-result hidden">
        <div><p>검색 결과 __ 개</p></div>
        <div>
            <h3>작성한 검색어</h3>
            <div class="movie-poster">
                <img src="" alt="" />
            </div>
        </div>
    </section>
</body>
</html>