<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/signin.css" />
    <title>로그인</title>
  </head>
  <body>
    <div class="containerMain">
      <h2>로그인</h2>
      <div class="containerSub">
        <div class="idBox innerBox">
          <div class="idBoxL boxL">
            아이디
          </div>
          <div class="idBoxR boxR">
            <input type="text" required />
          </div>
        </div>
        <div class="pwBox innerBox">
          <div class="pwBoxL boxL">
            비밀번호
          </div>
          <div class="pwBoxR boxR">
            <input type="password" required />
          </div>
        </div>
      </div>
      <br />
      <input type="button" value="로그인" class="buttonLogin" onclick="" />
      <div class="findBox">
        <div class="findId" onclick="">아이디 찾기</div>
        <div class="findPw">비밀번호 찾기</div>
      </div>
      <br />
      <input type="button" value="회원가입" class="buttonSubmit" onclick="" />
    </div>
    <script></script>
  </body>
</html>