<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/signin.css" />
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="body">
      <div class="containerMain">
        <div class="logoBox"><img class="logoImg" src="../static/img/logo.png" onclick="goToMain()"></div>
        <div class="signinMsgBox">
          <h2>로그인</h2>
          <h4>로그인을 위해 아이디와 비밀번호를 입력해주세요.</h4>
        </div>
        <form name="signIn">
          <div class="containerSub">
            <div class="idBox innerBox">
              <div class="idBoxR boxR">
                <input type="text" required placeholder="아이디" id="userid" />
              </div>
            </div>
            <div class="pwBox innerBox">
              <div class="pwBoxR boxR">
                <input type="password" required placeholder="비밀번호" id="pw" />
              </div>
            </div>
            <div class="invalidUserData"></div>
          </div>
          <br />
        </form>
        <button class="buttonLogin" type="button" onclick="LogIn()">로그인</button>
        <div class="findBox">
          <div class="findId" onclick="location.href='/findid'">아이디 찾기</div>
          <div class="findPw" onclick="location.href='/findPw'">비밀번호 찾기</div>
        </div>
        <br />
        <input type="button" value="회원가입" class="buttonSubmit" onclick="location.href='/signup'" />
      </div>
    </div>
    <div class="footerBox">
      <footer>
        <div class="footer">
          <strong>주식회사</strong> 무비캐스터 <strong>대표</strong> 4FLEX 서울특별시 용산구 청파로
          109(나진전자월드상가) 3층 <br />
          <strong>사업자 등록 번호</strong> 595-95-0099 <br />
          © 2023 by MovieCaster, Inc. All rights reserved. <br />
        </div>
      </footer>
    </div>
    <script>
      function LogIn() {
        const form = document.forms['signIn'];
        const data = {
          userid: form.userid.value,
          pw: form.pw.value,
        };
        console.log(data.userid);
        console.log(data.pw);
        axios({
          method: 'post',
          url: '/signin',
          data: data,
        }).then((res) => {
          const result = res.data;
          console.log('res data: ', result);
          if (res.data.isSuccess) {
            console.log('로그인 성공!');
            location.href = '/';
          } else {
            console.log('로그인 실패');
            document.querySelector(
              '.invalidUserData'
            ).innerHTML = `아이디와 비밀번호를 확인해 주세요!`;
          }
        });
      }

      function goToMain() {
        location.href = '/';
      }
    </script>
  </body>
</html>