body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 헤더 */
header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}
.container {
  /* position: relative; */
  border: 1px solid lightgray;
  border-radius: 20px;
  margin-top: 100px;
  width: 1100px;
  height: 350px;
  display: flex;
}
/* grid row1: reviews */
.gridRow1 {
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}
.gridRow1 h1 {
  position: relative;
  left: 100px;
  font-weight: 600;
}
.gridRow1 .userReviews {
  position: relative;
  left: 60px;
  width: 970px;
}
.gridRow1 .userReviews .userReview {
  margin-top: 30px;
  width: 980px;
}
.gridRow1 .userReviews .userReview .rate {
  position: absolute;
  right: 0;
}
.myReview {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.writeReview {
  margin-left: 50px;
  margin-right: 30px;
  margin-bottom: 20px;
  height: 30px;
  width: 100%;
}
input[type='text'] {
  height: 40px;
  width: 900px;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding-inline-start: 10px;
  box-shadow: 3px 3px 3px lightgrey;
}
.submitReview {
  position: relative;
  width: 100px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  right: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  box-shadow: 3px 3px 3px lightgrey;
}
.submitReview:hover {
  background-color: rgb(228, 227, 227);
}
/* 별점 평가 */
#myform fieldset {
  display: inline-block;
  direction: rtl;
  border: 0;
  position: relative;
  left: 800px;
}
#myform fieldset legend {
  text-align: right;
}
#myform input[type='radio'] {
  display: none;
}
#myform label {
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
  cursor: grab;
}
#myform label:hover {
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label {
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type='radio']:checked ~ label {
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
span.text-bold {
  font-size: 12px;
}
/* grid row2: poster & rates */
.gridRow2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 310px;
}
.gridRow2 .poster {
  border-right: 1px solid lightgray;
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}
.gridRow2 .poster img {
  position: relative;
  width: 260px;
  width: 170px;
  top: 30px;
  left: 25px;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(100, 97, 97);
}
/* .gridRow2 .movieDetail {
  border-bottom: 1px solid lightgray;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
} */
.gridRow2 .movieDetail1 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  border-bottom: 1px solid lightgray;
}
.gridRow2 .movieDetail1 .MD {
  margin-left: 20px;
  margin-top: 10px;
}
.gridRow2 .movieDetail2 {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  border-bottom: 1px solid lightgray;
}
.gridRow2 .movieDetail2 .MD {
  position: relative;
  right: 50px;
  margin-top: 10px;
}

.gridRow2 .summaries {
  /* border: 1px solid black; */
  grid-column: 2 / 6;
  grid-row: 2 / 6;
}
.gridRow2 .summaries .movieOverview {
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 1.5;
}

/* grid row3: alikeMovies */
.gridRow3 {
  align-items: center;
  justify-content: center;
}
.alikeMovies {
  display: flex;
}
.alikeMovie {
  position: relative;
  right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alikeMovie img {
  top: 40px;
  height: 220px;
  width: 150px;
  margin: 5px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(100, 97, 97);
  transition: transform 0.3s, filter 0.3s;
  z-index: 1;
}

/* .alikeMovie img:hover {
  transform: scale(1.3);
  z-index: 999;
} */

.alikeMovieMsg {
  position: relative;
  right: 150px;
  font-weight: 600;
}
.alikeMovieTitle {
  font-weight: 400;
  transition: font-weight 0.3s, transform 0.7s;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.userReview.new-review {
  animation: slideInFromRight 1s ease-out;
}
.userReview {
  margin-top: 30px;
  width: 980px;
  transition: transform 0.5s ease;
}

.bi-heart-fill {
  color: white;
  position: relative;
  left: 150px;
  bottom: 230px;
  width: 1.8em;
  height: 1.8em;
  animation: heartColorChange 3s infinite alternate;
}
@keyframes heartColorChange {
  0% {
    color: white;
  }
  50% {
    color: pink;
  }
  100% {
    color: white;
  }
}
.bi-heart-fill_like {
  color: rgb(214, 14, 14);
  position: relative;
  left: 150px;
  bottom: 230px;
  width: 1.8em;
  height: 1.8em;
}

/* .bi-heart-fill_01 {
  position: relative;
  color: black;
  left: 150px;
  bottom: 230px;
  width: 1.4em;
  height: 1.4em;
  top: -1px;
  left: 980px;
} */
