body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ν—¤λ” */
header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

.container {
  /* position: relative; */
  border: 1px solid black;
  margin-top: 100px;
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 1100px;
  height: 350px;
  display: flex;
}
/* grid row1: reviews */
.gridRow1 {
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}
.reviewContainer {
  display: flex;
  font-weight: 700;
}
.reviewBoxes {
  border: 1px solid black;
  display: flex;
  height: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.reviews {
  margin-left: 10px;
}
.userRates {
  margin-bottom: -20px;
  font-weight: 700;
}
.myReview {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.writeReview {
  margin-left: 50px;
  margin-right: 30px;
  height: 30px;
  width: 100%;
}
.myRate {
  margin-right: 30px;
}
.myRating {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}
.submitReview {
  margin-right: 50px;
}

/* grid row2: poster & rates */
.gridRow2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.poster {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}
.rates {
  border: 1px solid black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.summaries {
  border: 1px solid black;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
}
.directors {
  border: 1px solid black;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.actors {
  border: 1px solid black;
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}
/* grid row3: alikeMovies */
.gridRow3 {
  align-items: center;
  justify-content: center;
}
.alikeMovies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 80%;
  height: 80%;
}
.alikeMovie {
  border: 1px solid black;
}
#alikeMovieLeft {
  height: 180px;
  width: 120px;
  margin-left: 20px;
}
#alikeMovieMain {
  height: 200px;
  width: 150px;
}
#alikeMovieRight {
  height: 180px;
  width: 120px;
  margin-right: 20px;
}
/* ν‘Έν„° */
