@import url('./index.css');

/* 폰트 */


/* 기본 세팅 */

ul {
    margin: 10px 15px;
}

body {
    margin: 0 auto; 
}

.main-section {
    padding-top: 300px;
    width: 1400px;
    margin: auto;
}

/* section 공통 세팅 */
.section__title {
    border: 1px solid black;
    margin: 30px 0;
    padding: 0 5px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.section__list {
    display: flex;
    height: 650px;
    position: relative;
}

.section__body  {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__poster-body {
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    height: 300px;
    cursor: pointer;
}

/* section 1 */
.best-movie__comment-list {
    border: 1px solid black;
    margin: 30px 10px 0;
    border-radius: 20px;
    width: 240px;
    height: 130px;
    padding: 5px 10px;
}

/* section 2 */
.md-movie__info {
    margin: 10px 10px 20px;
    padding: 10px 30px;
    width: 90%;
    height: 130px;
}

/* 텍스트 */
.text-sm {
    margin-top: 9px;
    font-size: 14px;
    position: relative;
}

.nickname-sm {
    color: rgba(0, 0, 0, 0.6);
}

.movie-title {
    height: 30px;
    font-weight: 600;
}

.movie-title__large {
    margin-top: 10px;
    height: 50px;
}

.comment-sm {
    height: 60px;
}

.md-movie__title {
    margin-top: 10px;
}

/* 아이콘 */
.sun-icon {
    margin-right: 5px;
    color: #FFC73C;
    font-size: 20px;
}

.heart-icon {
    position: absolute;
    top: -5px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.heart-active {
    color: red;
}

.cloud-icon {
    color: darkblue;
    margin-right: 5px;
}

.arrow-icon {
    font-size: 50px;
    position: absolute;
}

.left-arrow {
    left: 3px;
}

.right-arrow {
    right: 3px;
}

.arrow {
    top: 110px;
}