:root {
  --yellow-point-color: #fade3f;
  --blue-point-color: #004aad;
}

/* 사용 예시
.container {
    background-color: var(--yellow-point-color);
}
*/
.body {
  display: flex;
  justify-content: center;
}
.containerMain {
  position: relative;
  top: 80px;
  border: 2px solid lightgray;
  border-radius: 20px;
  width: 580px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.logoBox {
  position: relative;
  margin-top: 60px;
  right: 150px;
}
.signupMsgBox {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 400px;
  position: relative;
}
.innerBox {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.innerBox .boxR {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 80px;
}
/* stay hidden/but/ show when input is focused */
.invalidMsg {
  width: 150px;
  height: 30px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
  position: relative;
  top: 5px;
  color: red;
}
/* stay hidden/but/ change (.ValidityMsgErr to this) when validityCheck=true */
.validMsg {
  width: 150px;
  height: 30px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
  position: relative;
  top: 5px;
  color: blue;
}
input[type="text"],
[type="password"],
[type="email"] {
  height: 50px;
  width: 220px;
  font-size: 18px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  padding-inline-start: 10px;
  box-shadow: 3px 3px 3px lightgrey;
}
input[type="submit"] {
  box-shadow: 3px 3px 3px lightgrey;
  width: 75px;
  position: relative;
  left: 160px;
}
.footer {
  margin: 40px 0 50px;
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
}
.hide {
  display: none;
}
