<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="../static/css/search.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>인생영화 등록</title>
    <style>
      .confirm-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
        border-radius: 5px;
        transition: background-color 0.3s;
      }

      .confirm-button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="search-container">
      <section class="search__section">
        <div class="search__body">
          <input
            type="text"
            name="search"
            class="search-body__input"
            id="search"
            placeholder="검색할 영화를 입력하세요."
          />
          <i
            class="fa-solid fa-magnifying-glass regular-icon search-icon"
            onclick="searchResult()"
          ></i>
        </div>
        <a href="/mypage"
          ><i class="fa-solid fa-xmark regular-icon close-icon"></i
        ></a>
      </section>

      <section class="search-result__section hidden">
        <h2 class="search-result__count">
          <span style="color: var(--blue-point-color)">검색 결과</span>
          <span id="result__count">0</span>
          <span style="color: var(--blue-point-color)">개</span>
        </h2>

        <div id="search_result_container"></div>
      </section>
    </div>

    <script>
      const posterUrl = `https://image.tmdb.org/t/p/w200`;

      const searchInput = document.querySelector(".search-body__input");
      const searchCount = document.querySelector(".search-result__count");
      const resultTitle = document.querySelectorAll(".search-result__title");
      const resultPosterBody = document.querySelectorAll(
        ".search-result__poster"
      );
      const resultPoster = document.querySelectorAll(
        ".search-result__poster img"
      );
      const failResult = document.querySelector(".search-result");

      function searchResult() {
        const resultSection = document.querySelector(
          "#search_result_container"
        );

        document
          .querySelector(".search-result__section")
          .classList.remove("hidden");

        axios({
          method: "get",
          url: "/search/result",
          params: {
            input: searchInput.value,
          },
        }).then((res) => {
          const result = res.data;
          console.log(result);
          console.log(document.querySelector("#result__count"));
          console.log("result", result.movie);
          document.querySelector("#result__count").innerHTML =
            result.data[0].count;

          let html = "";
          for (let i = 0; i < result.data.length; i++) {
            const movie = result.data[i];
            html += `<div class="search-result__list">
                        <div class="search-result__body">
                            <div class="search-result__info">
                                <div class="search-result__poster">
                                    <a href="/detail/${movie.movieidx}">
                                        <img src="https://image.tmdb.org/t/p/w154${movie.poster}" alt="${movie.title} 포스터 이미지" />
                                    </a>    
                                </div>
                                <h3 class="search-result__title"></h3>
                                <a href="#" class="confirm-button" onclick="saveMovie(${movie.movieidx})">확인</a>
                            </div>
                        </div>
                    </div>`;
          }

          resultSection.innerHTML = html;
        });
      }

      // 태그 공통 부분
      function handleTagSearch(url) {
        onSearch();
        failResult.textContent = "";

        document
          .querySelector(".search-result__section")
          .classList.remove("hidden");

        resetBgColor();

        axios({
          method: "get",
          url: url,
        }).then((result) => {
          const res = result.data;

          if (res.data) {
            for (let i = 0; i < res.data.length; i++) {
              resultTitle[i].textContent = res.data[i].title;

              const url = res.data[i].poster_path;
              const resultPoster = document.querySelectorAll(
                ".search-result__poster img"
              );
              resultPoster[i].src = `${posterUrl}${url}`;
            }
          }
        });
      }

      function resetBgColor() {
        for (const poster of resultPosterBody) {
          poster.style.backgroundColor = "";
        }
      }

      // 확인 버튼을 눌렀을 때 호출되는 함수
      function saveMovie(movieidx) {
        axios({
          method: "post",
          url: "/mypage/myfav/add",
          data: {
            movieidx: movieidx,
          },
        })
          .then((response) => {
            console.log("영화가 성공적으로 저장되었습니다:", response.data);
          })
          .catch((error) => {
            console.error("영화 저장 중 오류 발생:", error);
          });
      }
    </script>
  </body>
</html>
