<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인생영화 등록</title>
</head>
<body>
    <div class="search">
        <div>검색하여 인생작품 등록.</div>
    </div>
    
    <div class="line">
        라인
    </div>

    <div>등록된 인생작품</div>

    <!-- 애를 foreach 돌리면 됨-->
    <div class="favBox1">
        <div class="moviePic">picture</div>
        <div class="movieName">로렌스 애니웨이</div>
        <div class="movieGenre">멜로/로멘스</div>
        <div class="movieYear">2012</div>
        <div class="close">엑스</div>
    </div>

    <button>저장</button>
</body>
</html>