<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css" /> 
    <link rel="stylesheet" href="/static/css/mypage/mypageMovieLike.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>마이페이지 좋아요 누른 영화 보기</title>
</head>
<body>
     <!-- Mypage_Profile 부분 -->
     <div class="container overflow-hidden text-center" id="MyPage_Profile">
        <div class="title">
            <p>My Page</p>
        </div>
        <br /><br />
        <div class="row gx-5">
            <!-- 좌측 프로필 정보 부분 -->
            <div class="col-3">
                <div class="p-3">
                    <!-- 사용자 이미지 표시 부분 -->
                    <img src="/images/mypage/user.png" id="userImg" style="border-radius: 5px;"/>
                    
                    <!-- 사용자 이름 표시 부분 -->
                    <h5 id="userName">User Name</h5>
                    
                    <!-- 프로필 설정, 좋아요, 내코멘트 링크 표시 부분 -->
                    <div class="row" id="profileLeft">
                        <div class="col mb-2">
                            <a href="/mypage/myinfo">
                                <span><i class="fa-solid fa-gear fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;프로필관리</span>
                            </a>
                        </div>
                        <div class="col mb-2">
                            <a href="/mypage/mymovieLike">
                                <span><i class="fa-regular fa-heart fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;좋아요</span>
                            </a>
                        </div>
                        <div class="col mb-2">
                            <a href="/mypage/mycomment">
                                <span><i class="fas fa-pencil-alt" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;내코멘트</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 위시리스트 영화 정보 부분 -->
            <div class="col-6">
                <div class="p-4">
                    <div style="display: flex; align-items: flex-start; margin-left: 10px; column-gap: 10px;">
                        <a href="/mypage/mymovielike" style="text-decoration: none;">
                            <button style="border-radius: 10px; border-color: transparent;"><i class="fa-solid fa-clapperboard"> 영화</i></button>
                        </a>
                        <a href="/mypage/mycommentlike" style="text-decoration: none;">
                            <button style="border-radius: 10px; border-color: transparent;"><i class="fas fa-comment"> 코멘트</i></button>
                        </a>
                    </div> 
                    <div class="container text-center">
                        <div class="md-movie__list section__list">
                            <% for (let i = 0; i < data.length; i++) { %>
                            <div class="md-movie__body section__body">
                                <div class="md-movie__poster" style="position: relative;">
                                    <div style="position: absolute; top: 0; right: 0; display: flex; justify-content: flex-end;">
                                        <button onclick="deleteMovie('<%= data[i].movielikeidx %>')" style="color: transparent; background-color: transparent; border: none;">
                                            <i class="fa-solid fa-times" style="color: red;"></i>
                                        </button>
                                    </div>
                                    <img src="https://image.tmdb.org/t/p/w154<%= data[i].poster_path %>" alt="" />
                                </div>
                                <div class="md-movie__info">
                                    <ul>
                                        <li>
                                            <% 
                                            // 사용자가 좋아요 누른 영화의 정보 가져오기
                                            const movieInfo = data[i];
                                            if (movieInfo) { %>
                                                <h4 class="movie-title__large"><%= movieInfo.title %></h4>
                                            <% } else { %>
                                                <!-- 영화 정보가 없을 경우 처리 -->
                                                <h4 class="movie-title__large">영화 정보 없음</h4>
                                            <% } %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                 <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer.html -->
        <%- include('../footer') %>

        <script>
            function deleteMovie(movielikeidx) {
                axios.delete(`/mypage/mymovielike/${movielikeidx}`)
                    .then(response => {
                        console.log(response.data);
                        location.reload(); 
                    })
                    .catch(error => {
                        console.error('Error deleting movie:', error.response);
                    });
            }

        </script>
    </div>
</body>
</html>