<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />   
    <link rel="stylesheet" href="/static/css/mypage/mypageMovieLike.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>마이페이지 좋아요 누른 영화 보기</title>
</head>
<body>
     <!-- Mypage_Profile 부분 -->
     <div class="container overflow-hidden text-center" id="MyPage_Profile">
        <div class="title">
            <p>My Page</p>
        </div>
        <br /><br />
        <div class="row gx-5">
            <!-- 좌측 프로필 정보 부분 -->
            <div class="col-3">
                <div class="p-3">
                    <!-- 사용자 이미지 표시 부분 -->
                    <img src="/images/mypage/user.png" id="userImg" style="border-radius: 5px;"/>
                    
                    <!-- 사용자 이름 표시 부분 -->
                    <h5 id="userName">User Name</h5>
                    
                    <!-- 프로필 설정, 좋아요, 내코멘트 링크 표시 부분 -->
                    <div class="row" id="profileLeft">
                        <div class="col mb-2">
                            <a href="/mypage/myinfo">
                                <span><i class="fa-solid fa-gear fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;프로필관리</span>
                            </a>
                        </div>
                        <div class="col mb-2">
                            <a href="/mypage/mymovieLike">
                                <span><i class="fa-regular fa-heart fa-sm" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;좋아요</span>
                            </a>
                        </div>
                        <div class="col mb-2">
                            <a href="/mypage/mycomment">
                                <span><i class="fas fa-pencil-alt" style="color: #000000;"></i>&nbsp;&nbsp;&nbsp;내코멘트</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 위시리스트 영화 정보 부분 -->
            <div class="col-6">
                <div class="p-4">
                    <div style="display: flex; align-items: flex-start; margin-left: 10px; column-gap: 10px;">
                        <a href="/mypage/mymovielike" style="text-decoration: none;">
                            <button style="border-radius: 10px; border-color: transparent;"><i class="fa-solid fa-clapperboard"> 영화</i></button>
                        </a>
                        <a href="/mypage/mycommentlike" style="text-decoration: none;">
                            <button style="border-radius: 10px; border-color: transparent;"><i class="fas fa-comment"> 코멘트</i></button>
                        </a>
                    </div> 
                    <div class="container text-center">
                        <div class="row row-cols-3 row row-gap-3">
                            <img src="/images/movie1.jpg" class="img-thumbnail rounded" style="max-width: 120px; max-height: 240px"/>
                            <img src="/images/movie2.jpg" class="img-thumbnail rounded" style="max-width: 120px; max-height: 240px"/>
                            <img src="/images/movie3.jpg" class="img-thumbnail rounded" style="max-width: 120px; max-height: 240px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- footer.html -->
          <footer>
            <div class="footer">
                <strong>주식회사</strong> 무비캐스터 <strong>대표</strong> 4FLEX 
                서울특별시 용산구 청파로 109(나진전자월드상가) 3층 <br />
                <strong>사업자 등록 번호</strong> 595-95-0099 <br/>
                © 2023 by MovieCaster, Inc. All rights reserved. <br/>
            </div>
        </footer>

    </div>
</body>
</html>