<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/mypage/mypageFav.css">
    <title>인생영화 등록</title>
    
</head>
<body>
    <div class="container">
        <div style="font-size: 24px; font-weight: bold;">인생영화 등록</div>

        <div class="searchBox">
            <form class="search" action="/searching" method="post">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="영화를 검색해보세요." aria-label="search" name="keyword"/>
                    <span class="input-group-text" id="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </form>
        </div>

        <div class="line"></div>

        <div style="margin-bottom: 20px;">등록된 인생작품</div>

        <!-- 애를 foreach 돌리면 됨-->
        <div class="favBox1" style="margin-bottom: 20px;">
            <div class="moviePic">picture</div>
            <div class="movieName">로렌스 애니웨이</div>
            <div class="movieGenre">멜로/로멘스</div>
            <div class="movieYear">2012</div>
            <div class="close">
                <i class="fa-solid fa-times" onclick="removeFavBox(this)"></i>
            </div>
        </div>

        <div class="favBox1" style="margin-bottom: 20px;">
            <div class="moviePic">picture</div>
            <div class="movieName">로렌스 애니웨이</div>
            <div class="movieGenre">멜로/로멘스</div>
            <div class="movieYear">2012</div>
            <div class="close">
                <i class="fa-solid fa-times" onclick="removeFavBox(this)"></i>
            </div>
        </div>

        <div class="favBox1" style="margin-bottom: 20px;">
            <div class="moviePic">picture</div>
            <div class="movieName">로렌스 애니웨이</div>
            <div class="movieGenre">멜로/로멘스</div>
            <div class="movieYear">2012</div>
            <div class="close">
                <i class="fa-solid fa-times" onclick="removeFavBox(this)"></i>
            </div>
        </div>

        <div class="favBox1" style="margin-bottom: 20px;">
            <div class="moviePic">picture</div>
            <div class="movieName">로렌스 애니웨이</div>
            <div class="movieGenre">멜로/로멘스</div>
            <div class="movieYear">2012</div>
            <div class="close">
                <i class="fa-solid fa-times" onclick="removeFavBox(this)"></i>
            </div>
        </div>

        <div class="favBox1" style="margin-bottom: 20px;">
            <div class="moviePic">picture</div>
            <div class="movieName">로렌스 애니웨이</div>
            <div class="movieGenre">멜로/로멘스</div>
            <div class="movieYear">2012</div>
            <div class="close">
                <i class="fa-solid fa-times" onclick="removeFavBox(this)"></i>
            </div>
        </div>

        <button>저장</button>
        <button id="cancelBtn">취소</button>

        <script>
            //취소 누르면 마이페이지로 돌아가게 만드는 기능
            document.getElementById("cancelBtn").addEventListener("click", function() {
            window.location.href = "/mypage"; 
            });

            // x를 누르면 해당 favBox1를 숨기는 기능
            function removeFavBox(icon) {
                var favBox = icon.closest(".favBox1");
                favBox.style.display = "none";
            }
        </script>
    </div>
</body>
</html>