body {
    font-size: 18px; /* Set the base font size for the entire page */
}

.p-3 {
    background-color: transparent;
    border: 1px solid black;
    border-color: #DEE2E6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    font-size: 16px;
    color: #000000;
    font-family: Noto Sans KR, 'Source Sans Pro';
    font-weight: 300;
}

.p-4 {
    background-color: transparent;
    border: 1px solid black;
    border-color: #DEE2E6;
    display: flex;
    flex-direction: column; /* Change row to column */
    justify-content: space-between;
    row-gap: 50px;
}

#MyPage_Profile {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px; /* Set a maximum width for better centering on larger screens */
    padding: 0 20px; /* Add some padding for better spacing */
    box-sizing: border-box; /* Include padding in the total width */
    margin-bottom: 30px;
}


/* 방문하지 않은 링크 스타일 */
a:link {
  color: rgb(0, 0, 0); /* 원하는 색상 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

/* 방문한 링크 스타일 */
a:visited {
  color: rgb(0, 0, 0); /* 원하는 색상 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

#cancelBtn{
    border-color: #DEE2E6;
    color:rgb(141, 141, 141);
}
#saveBtn{
    background-color: #A7D4F9;
    color:rgb(104, 104, 104);
}
#selectBtn{
    border-color: #DEE2E6;
    color:rgb(141, 141, 141);
    border-radius: 0;
}

#userImg{
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.profileBtn{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    
}
#userInfo {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.col {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    
}
    #email_placeholder{
        background-color:transparent;    
        color: #000000;
        width: 300px;
        display: flex;
        
    }
    #email_placeholder::placeholder {
        color: #FF0000; /* 원하는 색상으로 변경 */
    }
    #nickname_placeholder{
        background-color: lightgrey;    
        width: 300px;
        display: flex;
        
    }
    #phone_placeholder{
        background-color: transparent;    
        color: #000000;
        width: 300px;
        display: flex;
        margin-left: -15px;
    }

#profileLeft{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.title{
    display: flex;
    align-items: start;
    font-family: Noto Sans KR, 'Source Sans Pro';
    margin-left: 20px;
    font-size: 20px;
}

.exit{
    font-size: 15px;
}

/*wishLisg*/
.section{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 7px;
    margin-left: 11px;
}

.row-sm-3{
    font-size: 1px;
}

img{
    border-radius: 20px;
    width: 170px;
    height: 170px;
}
.row-sm-3 .container{
    padding-left: 30px;
}

/* section 2 */
.md-movie__info {
    margin: 10px 10px 20px;
    padding: 10px 30px;
    width: 90%;
    height: 130px;
}

/* 텍스트 */
.nickname-sm {
    color: rgba(0, 0, 0, 0.6);
}

.movie-title {
    height: 30px;
    font-weight: 600;
}

.text-sm {
    margin-top: 9px;
    font-size: 14px;
    position: relative;
}

.movie-title__large {
    margin-top: 10px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
}

.comment-sm {
    height: 60px;
    font-size: 15px;
}

.md-movie__title {
    margin-top: 10px;
}